
        *
        {
            background-color: black;
            color: red;
           
        }
        h2
        {
            border-style: dashed;
            border-radius: 20px;
        }

