h1,ul,li{
    display: inline;
}
nav{
    background-color: rgb(46, 43, 43);
    color: white;
    padding: 20px;
    container:unset;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    padding-left: 60%;
}
li:hover{
    color:black;
}
h1{
    padding-left: 50px;
    font-size: 40px;
    font-style:unset;
}
body {
    background-image: url('https://wallpapercave.com/wp/wp5969847.jpg');
    background-repeat: no-repeat;
    background-attachment:unset;
    background-size: cover;
    
  }
  h2{
    font-size: 70px;
    color:rgb(198, 193, 193);
    text-align: center;
    padding-top: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
   
  }

.text-center {
    
    text-align: center;
    
    
  }
  button{
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-color: white;
    background: none;
    color: white;
    border-radius:20px;
    
  }
  button:hover{
   background-color: whitesmoke;
   color: black;
  }
  